#container{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 2px solid teal; */
    gap: 20px 20px;
}

#img_div{
    display: flex;
    justify-content: center;
    width: 80%;
    border: 1px solid black;
}
#des_div{
    border: 1px solid black;
    text-align: center;
    width: 80%;
    font-size: 25px;
    line-height: 12px;
    height: 100%;
    
}

#manageDiv{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 300px;
    gap: 20px;
}


#head{
     /* text-align: center; */
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 30px;
     font-stretch: condensed;
}

#head:hover{
    color: rgb(97, 220, 26);
    text-transform: capitalize;
     
}

#heat_item{
  display: flex;
  justify-content: space-evenly;
}

#de{
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(237, 58, 30);
    color: black;
}

#de:hover{
    background-color: rgb(16, 222, 184);
    color: black; 
}

#card_img{
  width: 300px;
}

#shop{
    display: block;
    margin: auto;
    margin-top: 25px;
   padding: 20px;
   width: 250px;
   border-radius: 15px;
   text-align: center;
   /* border: none; */
   font-size: 25px;
   border-color: yellow;
   background-color: rgb(223, 238, 9);
}

#shop:hover{
    background-color: green;
    color: yellow;
}