
body>div{
    width: 100%;
    background-color: wheat;
   
}
.head{
    font-size: 24px;
    
    letter-spacing: 2px;
}
.cl1{
    display: flex;
    height: 20px;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 5px;
    padding-bottom: 5px;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}
.cl1 a{
    color: black;
}
.cl2{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-around;
    padding-top: 5px;
    align-items: center;
    
}
.cl2>div{
    display: flex;
    height: 20px;
    width: 30%;
    justify-content: space-around;
    padding-top: 5px;
    align-items: center;

}
.cl2 a{
    color: #000;
}
p:hover{
    color: chartreuse;
}
.cl3{
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: space-around;
    padding-top: 5px;
    align-items: center; 
    background-color: black;
    color: cadetblue;
    margin-top: 5px;
}
.cl3>div{
    display: flex;
    height: 30px;
    width: 80%;
    justify-content: space-around;
    padding-top: 5px;
    align-items: center;

}
.container{
    display: flex;
    justify-content: space-around;
}
.main{
    width: 200px;

}
.main>div{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap:20px
}
.grid>div{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
img{
    width: 100%;
}
.last1{
    display: flex;
    width: 100%;
   justify-content: center;
   background-color: #f3f3f3;
   margin-top: 5px;

}
.last1 a{
    color: black;
    text-decoration: none;
}
.last1>div{
    width: 20%;
    text-align: center;
    justify-content: center;
}
.last1>div>div{
    display: flex;
    justify-content: space-around;
}
hr{
    width: 50px;
    height: 2px;
    color: black;
    background-color: black;
}
.signup{
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.signup>div>div{
    display: flex;
    align-items: center;
}
.check{
    display: flex;
    align-items: center;
}
#roundcheck{
    border-radius: 50%;
}
.submit{
    background-color: #f3f3f3;
    width: 80%;
    height: 30px;
    border: 0px;
}
.btn{
    width: 80%;
    height: 30px;
    background-color: #333333;
    color: white;
    margin-bottom: 5px;
}
.btn:hover{
    color: lightseagreen;
    cursor: pointer;
}
input{
    cursor: pointer;
}
a{
    cursor: pointer;
}
.last2{
    display: flex;
    width: 100%;
    
    justify-content: space-around;
    background-color: #f3f3f3;
    border-top: 1px solid whitesmoke;
    margin-top: 5px;
}
.last2>div{
    display: flex;
    height: 50px;
    width: 25%;
    justify-content: space-between;
    align-items: center;
    
    background-color: #f3f3f3;
}
.last3{
    padding-top: 2%;
    width: 100%;
    height: 150px;
    color: whitesmoke;
    background-color: #333333;
    text-align: center;
}
.last3>a{
    color: lightseagreen;
}
