/* body>div{
    width: 100%;
    background-color: antiquewhite;
    border: 10px solid slategrey;
} */

.head{
    font-size: 24px;
    color: black;
    letter-spacing: 2px;
}
.cl3>div>p a{
    text-decoration: none;
    color: aliceblue;
}
.cl3>div>p{
    color: aliceblue;
}
.cl1{
    display: flex;
    height: 20px;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 5px;
    padding-bottom: 5px;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}
.cl1 a{
    color:black;
    text-decoration: none;
    
}
.cl2{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-around;
    padding-top: 5px;
    align-items: center;
    
}
.cl2>div{
    display: flex;
    height: 20px;
    width: 30%;
    justify-content: space-around;
    padding-top: 5px;
    align-items: center;

}
.cl2 a{
    color: brown;
    text-decoration: none;
}
p:hover{
    color: chartreuse;
}
.cl3{
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: space-around;
    padding-top: 5px;
    align-items: center; 
    background-color: black;
    color: cadetblue;
    margin-top: 5px;
}
.cl3>div{
    display: flex;
    height: 30px;
    width: 80%;
    justify-content: space-around;
    padding-top: 5px;
    align-items: center;
    background-color: black;

}
.cl3>div>p{
    background-color: black;
}
h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    
   
}

.bcpic{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 600px;
    border: 4px solid black;
    background-image: url('https://www.yoox.com/images/yoox80/banners/6824_1_Wedding_Main_W.jpg?634485886869569819&impolicy=cropDefault&width=960&height=510');
    background-repeat: no-repeat;
    background-size: cover;
}
.bcpic>div{
    width: 30%;
    height: 30%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 30px;
}
.in-bcpic>div{
    display: flex;
    justify-content: space-between;
    
}

.in-bcpic a{
   color: darkslategray;
}

.pic{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
   
}
.pic>div{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.pic>div>a{
  margin-top: 20px;  
  text-decoration: none;
  color: #333333;
}
img{
    margin-top: 50px;
}
.pic2{
    width: 100%;
     text-align: center;
}
.in-pic2{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
}
.in-pic2>div{
    width: 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.pic3{
    display: flex;
    justify-content: space-around;

}
.pic3>div{
    text-align: center;
    width: 30%;
}
.pic3 img{
    width: 100%;
}
.img1{
    margin-top: 20px;

}
.pic4{
    width: 100%;
     text-align: center;
}
.in-pic4{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
    
}
.in-pic4>div{
    width: 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.orignal-price{
   text-decoration: line-through;
   color: gray;
}
.pic5{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 600px;
    margin: auto;
    background-image: url('https://www.yoox.com/images/yoox80/banners/6833_3_8byoox_SS22_Special.jpg?634485886869569819#width=930&height=660');
     background-repeat: no-repeat;
     margin-top: 20px;
     
}
.in-pic5f{
    width: 30%;
    height: 150px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
    margin-top: 35%;
    text-align: center;
    
}
.pic5 i{
    margin-top: 400px;
    
}

.in-pic5f>div{
    display: flex;
    justify-content: space-around;
}
.in-pic5d{
    width: 20%;
    
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-align: center;
}
.in-pic5d>img{
    width: 100%;
    height: 200px;
    vertical-align: baseline;
}
.pic6{
    width: 100%;
     text-align: center;
}
.in-pic6{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
}
.in-pic6>div{
    width: 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.pic7{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    
}
.pic7>div{
  width: 50%;
  height: 100%;
  
    
}
.pic7>div>div{
    width: 50%;
    
    margin-bottom: 10px;
    background-color: white;

}
.inpic7-1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url('https://www.yoox.com/images/yoox80/banners/6824_1_Dressedit_HalfBottom_W.jpg?634485886869569819#width=690&height=637');
}
.inpic7-1>div{
    
    margin-left: 10px;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
}
.inpic7-1>div>div{
    display: flex;
    justify-content: space-between;
}
.pic7 a{
    color: #333333;
}
.inpic7-2>div{
    margin-right: 10px;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
}
.inpic7-2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url('https://www.yoox.com/images/yoox80/banners/6895_1_EarthDay_HB.jpg?634485886869569819#width=689&height=636');
}
.last1{
    display: flex;
    width: 100%;
   justify-content: center;
   background-color: #f3f3f3;
   margin-top: 5px;

}
.last1 a{
    color: black;
    text-decoration: none;
}
.last1>div{
    width: 20%;
    text-align: center;
    justify-content: center;
}
.last1>div>div{
    display: flex;
    justify-content: space-around;
}
hr{
    width: 50px;
    height: 2px;
    color: black;
    background-color: black;
}
.signup{
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.signup>div>div{
    display: flex;
    align-items: center;
}
.check{
    display: flex;
    align-items: center;
}
#roundcheck{
    border-radius: 50%;
}
.submit{
    background-color: #f3f3f3;
    width: 80%;
    height: 30px;
    border: 0px;
}
.btn{
    width: 80%;
    height: 30px;
    background-color: #333333;
    color: white;
    margin-bottom: 5px;
}
.btn:hover{
    color: lightseagreen;
    cursor: pointer;
}
input{
    cursor: pointer;
}
a{
    cursor: pointer;
}
.last2{
    display: flex;
    width: 100%;
    
    justify-content: space-around;
    background-color: #f3f3f3;
    border-top: 1px solid whitesmoke;
    margin-top: 5px;
}
.last2>div{
    display: flex;
    height: 50px;
    width: 25%;
    justify-content: space-between;
    align-items: center;
    
    background-color: #f3f3f3;
}
.last3{
    padding-top: 2%;
    width: 100%;
    height: 150px;
    color: whitesmoke;
    background-color: #333333;
    text-align: center;
}
.last3>a{
    color: lightseagreen;
}

@media only screen and (max-width: 320px){
   
    #nav{
        display: none;
        border: 2px solid red;
        width: 100%;
    }

    .bcpic{
        display: flex;
        align-items: flex-end;
        width: 155%;
        height: 600px;
        /* border: 4px solid rgb(12, 15, 227); */
        background-image: url('https://www.yoox.com/images/yoox80/banners/6824_1_Wedding_Main_W.jpg?634485886869569819&impolicy=cropDefault&width=960&height=510');
        background-repeat: no-repeat;
        background-size:  100% 100%;
    }
  
  
   
    .pic{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        margin: auto;
    }

    .in-pic2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        margin: auto; 
    }
    .in-pic2>div{
        margin: auto;
        width: 140%;
        /* border: 4px solid rgb(209, 12, 227);   */
    }
    .in-pic2type{
        text-align: center;
        width: 140%;
        margin: auto;
    }
    .pic3{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        margin: auto;   
    }
    .pic3>div{
        margin: auto;
        width: 140%;
        /* border: 4px solid rgb(209, 12, 227);    */
    }

    .in-pic4{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        margin: auto;   
    }
    .in-pic4>div{
        margin: auto;
        width: 140%;
        /* border: 4px solid rgb(12, 216, 227);      */
    }

    .pic5{
        margin: auto;
        width: 140%;
        /* border: 4px solid rgb(209, 12, 227)  */
    }

    .in-pic6{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        margin: auto;   
    }
    .in-pic6>div{
        margin: auto;
        width: 140%;
        border: 4px solid rgb(209, 12, 227);     
    }

    .pic7{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        margin: auto;    
    }
    .pic7>div{
        margin: auto;
        width: 140%;
        border: 4px solid rgb(209, 12, 227);      
    }
}